<div class="grid grid-cols-3 gap-4">
  <div class="col-span-2">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse accusamus id, modi est consectetur adipisci repellat voluptatibus aliquam nesciunt aperiam omnis dolorum ipsa ea sequi labore tempora. Facere, possimus maiores.
  </div>
  <div>
    <turbo-frame id="tournament-new" src="<%= new_tournament_path.to_s %>"></turbo-frame>
  </div>
</div>