<div class="w-full h-full bg-green-100">
  <div class="container flex flex-wrap ">
    
  <div class="m-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-red-900">
      <%= image_tag 'people.png', class: "w-full", alt: "people" %>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-white">Your Groups</div>
        <p class="text-white text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <button class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">See all</button>
        <button class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Edit</button>
        <button class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Delete</button>
      </div>
    </div>
  </div>

  <div class="m-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-red-900">
      <%= image_tag 'gifts.png', class: "w-full", alt: "gifts" %>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-white">Your Gifts</div>
        <p class="text-white text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <button class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">See all</button>
        <button class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Edit</button>
        <button class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Delete</button>
      </div>
    </div>
  </div>

  </div>
</div>
