<div class="bg-green-900 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mx-auto h-10 w-auto">
      <div class="text-center justify-center">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Insertala y gana</h2>
        <span style="font-size: 2.5em;">🏀</span>
      </div>
    </div>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mt-10">
      <%= simple_form_for(:user, url: session_path(:user), class:"space-y-6") do |f| %>
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-white">
            Email
          </label>
          <div class="mt-2">
            <%= f.input :email,
            label: false,
            required: false,
            autofocus: true, 
            input_html: {class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"}  %>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium leading-6 text-white">
            Password
          </label>
          <div class="mt-2 mb-10">
            <%= f.input :password,
            label: false,
            required: false,
            autofocus: true, 
            input_html: {class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"}  %>
          </div>
        </div>
        <div>
          <%= f.button :submit, "Sign In", class: "bg-red-900 flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-grey-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
      <% end %>

      <p class="mt-10 text-center text-sm text-white">
        Not a member?
        <a href="https://mx.linkedin.com/in/eduardo-rubio-lezama-7b9a7b1a3" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500" target="_blank">Tell Lalo</a>
      </p>
    </div>
  </div>
</div>
