<%= simple_form_for @game, url: games_path, html: { class: "space-y-4" } do |form| %>
  <div>
    <h2 class="text-lg font-bold text-white mt-3">Jugadores</h2>
    <div class="grid grid-cols-2 gap-4">
      <% User.all.each do |user| %>
        <div class="flex items-center text-white text-lg">
          <%= check_box_tag "game[player_game_results_attributes][][user_id][]", user.id, false, class: "rounded-lg" %>
          <%= label_tag nil, user.name, class: "ml-2" %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.button :submit, "Submit", class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-6 w-full" %>
  </div>
<% end %>