<div class="main-wrapper">
  <div class="main">
    <div class="cards">
      <%= simple_form_for @game, url: game_path(@game), html: { class: "space-y-4" } do |form| %>
        <div class="m-5">
          
        </div>
      <% end %>
    </div>
  </div>
</div>